<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cslnight.homework.mapper.SellerMapper">
  <resultMap id="BaseResultMap" type="com.cslnight.homework.bean.Seller">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="products" jdbcType="VARCHAR" property="products" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, products
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from seller
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from seller
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.cslnight.homework.bean.Seller">
    insert into seller (id, name, products
      )
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{products,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.cslnight.homework.bean.Seller">
    insert into seller
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="products != null">
        products,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="products != null">
        #{products,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cslnight.homework.bean.Seller">
    update seller
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="products != null">
        products = #{products,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cslnight.homework.bean.Seller">
    update seller
    set name = #{name,jdbcType=VARCHAR},
      products = #{products,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>